<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Abborrfjället</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Abborrfjället is a website for a rental-summerhouse in the Stockholm archipelago." />
	<meta name="author" content="Filip Stenbeck" />
	<meta name="keywords" content="Sommarstuga,Aborrfjället,Stuga,Skärgård,Stockholm,Värmdö">

	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content="Hyr stugan på Abborrfjället"/>
	<meta property="og:image" content="https://abborfjallet.se/images/1.jpg"/>
	<meta property="og:url" content="https://www.abborrfjallet.se"/>
	<meta property="og:description" content="Ett mysigt sjöställe i Stockholms skärgård"/>
	<meta name="twitter:title" content="Hyr stugan på Abborrfjället" />
	<meta name="twitter:image" content="https://abborfjallet.se/images/1.jpg" />
	<meta name="twitter:url" content="https://www.abborrfjallet.se" />
	<meta name="twitter:card" content="summary" />

	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/bootstrap.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="css/magnific-popup.css">

	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="css/style.css">

	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		
	<div class="gtco-loader"></div>
	
	<div id="page">
	<nav class="gtco-nav" role="navigation">
		<div class="gtco-container">
			<div class="row">
				<div class="col-xs-2">
					<div id="gtco-logo"><a href="index.html">Abborrfjället</a></div>
				</div>
				<div class="col-xs-8 text-center menu-1">
					<ul>
						<li><a href="index.html">Hem</a></li>
						<li><a href="Aktiviteter.html"><span>Aktiviteter</span></a></li>
						<li><a href="gallery.html"><span>Galleri</span></a></li>
						<li class="active"><a href="about.html"><span>Att hyra Abborrfjället</span></a></li>
						<li><a href="contact.html"><span>Kontakta oss</span></a></li>
					</ul>
				</div>

				<div class="col-xs-2 text-right hidden-xs menu-2">
					<ul>
						<li><a href="about.html"><img src="images/swedish.png" height="20" width="30"></a></li>
						<li><a href="English/about.html"><img src="images/british.png" height="20" width="30"></a></li>
					</ul>
				</div>
			</div>
			
		</div>
	</nav>

	<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image:url(images/1a.jpg);">

		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Att hyra Abborrfjället</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	

<div class="gtco-section">
		<div class="gtco-container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading gtco-heading-sm">
					<h3>Abborrfjället är tillgängligt att hyra under sommarhalvåret</h3>
					<p></p>
				</div>
			</div>
			<div class="row animate-box">
				<div class="col-md-6">
						<p>För allas trygghet hyr vi hellst ut genom <a href="https://www.airbnb.se/rooms/31873922">Airbnb</a>. Abborrfjället hyrs ut veckovis lördag kl 15 till lördag kl 11 från början av maj till slutet av oktober och är lämplig för en familj på 3-5 personer.
						"Storstugan" har utöver vardagsrummet, ett sovrum, kök och ett badrum med dusch. Sovrummet har en s.k familjesäng, vilket är en våningssäng med en bredare 140 cm säng på golvet och en vanlig "80cm bred säng" som våningsäng.</p>
						<p>I vardagsrummet finns även en bekväm bäddsoffa på 140 cm bredd. </p>
						<p>Då Abborrfjället är ett fritidshus ute i vår känsliga skärgårdsnatur är toalettfrågan löst med en förbränningstoalett som är placerad ca. 20 m från huset i f.d utedasset. Ett ostört och pittoreskt läge där förbränningsröken inte stör husets omgivning. Ett sätt att förena det moderna med det lantligt klassiska. </p>
						<p>Finns behov av ytterligare sängplatser så finns annexet tillgängligt, -en Friggebod som står alldeles intill huset, med trädecket som binder dem samman. I annexet finns två eenkelsängar på 90 cm. </p>
						<p>Sängkläder och handduk kan vid behov hyras för 150 kr per gäst och vistelse.</p>
						<p>En liten roddbåt finns tillgänglig och mot tillägg, en motorbåt med en 18 hk motor för vattenlek och utflykter.</p>
						<p>Stugan lämnas städat i samma skick som när ni anlände och ev. använda sängkläder bäddas ur och placeras i smutstvättsäcken.</p>
				</div>
				<div class="col-md-6" align="center">
					<button class="collapsible">priser per vecka</button>
					<div class="content">
						<table class="filip-table">
						<tr><th>2020<br>Vecka</th><th>Veckohyra</th><th>+ Annexet</th><th>Datum</th><th>Båt m. 18hk motor</th></tr>
						<tr><td>20</td><td>on request</td><td> + 10%   </td><td>16/5-23/5</td><td>+ 1500 sek</td></tr>
						<tr><td>21</td><td>10000 sek</td><td>  + 10%   </td><td>23/5-30/5</td><td>+ 1500 sek</td></tr>
						<tr><td>22</td><td>10000 sek</td><td>  + 10%   </td><td>30/5-6/6</td><td>+ 1500 sek</td></tr>
						<tr><td>23</td><td>11200 sek</td><td>  + 10%   </td><td>6/6-13/6</td><td>+ 1500 sek</td></tr>
						<tr><td>24</td><td>11200 sek</td><td>  + 10%   </td><td>13/6-20/6</td><td>+ 1500 sek</td></tr>
						<tr><td>25</td><td>12600 sek</td><td>  + 10%   </td><td>20/6-27/6</td><td>+ 1500 sek</td></tr>
						<tr><td>26</td><td>14000 sek</td><td>  + 10%   </td><td>27/6-4/7</td><td>+ 1500 sek</td></tr>
						<tr><td>27</td><td>15400 sek</td><td>  + 10%   </td><td>4/7-11/7</td><td>+ 1500 sek</td></tr>
						<tr><td>28</td><td>15400 sek</td><td>  + 10%   </td><td>11/7-18/7</td><td>+ 1500 sek</td></tr>
						<tr><td>29</td><td>Booked   </td><td>  + 10%   </td><td>18/7-25/7</td><td>+ 1500 sek</td></tr>
						<tr><td>30</td><td>Booked   </td><td>  + 10%   </td><td>25/7-1/8</td><td>+ 1500 sek</td></tr>
						<tr><td>31</td><td>15400 sek</td><td>  + 10%   </td><td>1/8-8/8</td><td>+ 1500 sek</td></tr>
						<tr><td>32</td><td>15400 sek</td><td>  + 10%   </td><td>8/8-15/8</td><td>+ 1500 sek</td></tr>
						<tr><td>33</td><td>14000 sek</td><td>  + 10%   </td><td>15/8-22/8</td><td>+ 1500 sek</td></tr>
						<tr><td>34</td><td>12600 sek</td><td>  + 10%   </td><td>22/8-29/8</td><td>+ 1500 sek</td></tr>
						<tr><td>35</td><td>12600 sek</td><td>  + 10%   </td><td>29/8-5/9</td><td>+ 1500 sek</td></tr>
						<tr><td>36</td><td>12600 sek</td><td>  + 10%   </td><td>5/9-12/9</td><td>+ 1500 sek</td></tr>
						<tr><td>37</td><td>11200 sek</td><td>  + 10%   </td><td>12/9-19/9</td><td>+ 1500 sek</td></tr>
						<tr><td>38</td><td>9800  sek</td><td>  + 10%   </td><td>19/9-26/9</td><td>+ 1500 sek</td></tr>
						<tr><td>39</td><td>9800  sek</td><td>  + 10%   </td><td>26/9-3/10</td><td>+ 1500 sek</td></tr>
						<tr><td>40</td><td>9800  sek</td><td>  + 10%   </td><td>3/10-10/10</td><td>+ 1500 sek</td></tr>
						<tr><td>41</td><td>on request</td><td>on request</td><td>10/10-17/10</td><td>+ 1500 sek</td></tr>
						<tr><td>42</td><td>on request</td><td>on request</td><td>17/10-24/10</td><td>+ 1500 sek</td></tr>
						<tr><td>43</td><td>on request</td><td>on request</td><td>24/10-1/11</td><td>+ 1500 sek</td></tr>
						<tr><td>44</td><td>on request</td><td>on request</td><td>1/11-8/11</td><td>+ 1500 sek</td></tr>
						</table>
					</div>
				</div>
			</div>
		</div>
</div>

<div class="gtco-section">
		<div class="gtco-container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading gtco-heading-sm">
					<h2>Abborrfjällets historia</h2>
				</div>
			</div>
			<div class="row animate-box">
				<div class="col-md-6">
						<p>Abborrfjället köptes i början av 30-talet av Folke och Elsie Stenbeck. Folke önskade sig ett ställe i skärgården dit han kunde segla, då segling var hans stora passion.</p>
						<p>Valet föll på Abborrfjället, då det är beläget i hjärtat av stockholms skärgård, så långt ut man kan nå på fastlandet, med näst intill obegränsat djup vid klipporna för att lägga till med sin segelbåt.</p>
						<p>En liten lekstuga uppfördes högst upp på berget där Folke och Elsie kunde övernatta när de besökte Abborrfjället - ja, det fanns faktiskt så pass stora lekstugor på den tiden. Då familjen började växa i mitten av 30-talet så ersattes lekstugan med ett hus där alla fick plats. Sedan dess har Abborrfjället varit den naturliga knutpunkt för familjen med dess vänner, och har varit värd till många sociala sammankommster genom åren. Då huset varit kraftigt underhållseftersatt under lång tid har den genomgått en renovering i form av ny panet och nya fönster under 2018, samt att många ytskikt invändigt förnyats.</p>	
				</div>
				<div class="col-md-6">
					<img src="images/7.jpg" alt="Free HTML5 by FreeHTML5.co" class="img-responsive">
				</div>
			</div>
		</div>

	<div class="gtco-section">
		<div class="gtco-container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading gtco-heading-sm">
					
				</div>
			</div>
			<div class="row animate-box">
				<div class="col-md-6">
					<h3>Här finns vi</h3>
					<p>Abborrfjället ligger på Fågelbrolandet ute på Värmdö, ca 40 minuter med bil ifrån Stockholms centrum.<p>
						<P>	Buss 433/434 från Slussen tar ca. 50 minuter till hållplats Tavastbodavägen dit det är 2,9 km  </p>
				</div>
				<div class="col-md-6">
					<div id="map"></div>
				</div>
			</div>
		</div>
	</div>
</div>

	<footer id="gtco-footer" role="contentinfo">
		<div class="gtco-container">
			<div class="row row-pb-md">
				<div class="col-md-4 gtco-widget">
					<a href = "mailto: abborrfjallet@outlook.com"><h3>abborrfjallet@outlook.com</h3></a>
					<a href="https://www.facebook.com/sharer/sharer.php?u=abborrfjallet.se" target="_blank">
						<img src="images/facebook.png" height=auto width="200"></a>
				</div>
				<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-4">
					<ul class="gtco-footer-links">
						<li><a href="index.html">Hem</a></li>
						<li><a href="Aktiviteter.html">Aktiviteter</a></li>
					  	<li><a href="gallery.html">Galleri</a></li>
					  	<li><a href="about.html">Att hyra Abborrfjället</a></li>
					  	<li><a href="contact.html">Kontakta oss</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>

	<!-- filip js för kollapsande lista -->
	<script>
	var coll = document.getElementsByClassName("collapsible");
	var i;

	for (i = 0; i < coll.length; i++) {
	  coll[i].addEventListener("click", function() {
		this.classList.toggle("active");
		var content = this.nextElementSibling;
		if (content.style.display === "block") {
		  content.style.display = "none";
		} else {
		  content.style.display = "block";
		}
	  });
	}
	</script>

	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Carousel -->
	<script src="js/owl.carousel.min.js"></script>
	<!-- countTo -->
	<script src="js/jquery.countTo.js"></script>
	<!-- Magnific Popup -->
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/magnific-popup-options.js"></script>
	<!-- Google Map -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0nMhNkrTYzflxw_cXDlk8d_qolx0kKCg&sensor=false"></script>
	<script src="js/google_map.js"></script>
	<!-- Main -->
	<script src="js/main.js"></script>


	</body>
</html>

